<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Perpetual Arbitrage</a>

    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CurrentPositions" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Currnet Positions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PotentialPositions">
                <span class="oi oi-list" aria-hidden="true"></span> Potential Positions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ResetPosition">
                <span class="oi oi-loop-square" aria-hidden="true"></span> Reset Position
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
